.td1{
    width: 50% !important;
}

.td2{
    width: 30% !important;
}

.td3{
    width: 80% !important;
}

.td21{
    width: 100% !important;
}

.btnRetour{
    padding-left: 20%;
}

.btnRetour a{
    text-decoration: none !important;
    color: red !important;
}