.td1{
    width: 50% !important;
}

.td2{
    width: 30% !important;
}

.td3{
    width: 80% !important;
}

.td21{
    width: 100% !important;
}

.btnRetour{
    padding-left: 20%;
}

.btnRetour a{
    text-decoration: none !important;
    color: red !important;
}

@media (max-width:1290px){
    .rowCol6Princ{
        width: 10% !important;
    }

    .col6Img{
        width: auto !important;
    }
    .colP{
        width: auto!important;
        margin: auto !important;
    }
    .col4Prenium{
        width: 70% !important;
    }
    .textPre{
        margin-top: 0 !important;
    }
}

@media (max-width:1079px){
    .textPre{
        margin-top: 8px !important;
    }

}

@media (max-width: 1000px){
    .col6Img{
        width: auto !important;
    }
    .colP{
        width: auto!important;
        margin: auto !important;
    }
    .col4Prenium{
        width: 80% !important;
    }
    .textPre{
        margin-top: 12px !important;
    }
}

@media (max-width: 680px){
    .col6Img{
        width: auto !important;
    }
    .colP{
        width: 90% !important;
        margin: auto !important;
    }

    .col4Prenium{
        width: 65% !important;
    }
}

@media (max-width:560px){
    .col6Img{
        width: auto !important;
    }
    .colP{
        width: 90% !important;
        margin: auto !important;
    }

    .col4Prenium{
        width: 45% !important;
    }

    .thead tr .textVoyage{
        display: none !important;
    }
}

@media (max-width: 380px){
    
    .col4Prenium{
        width: auto !important;
        margin-top: auto !important;
    }

    .col6Img{
        width: auto !important;
    }

    .colDflex{
        width: auto !important;
    }

    .mt-21{
        margin-top: 12px !important;
    }
    .col4PreniumClass2{
        margin-top: 1.5rem;
    }

    .thead tr .textVoyage{
        font-size: 14px !important;
    }

    .colonne2{
    }

    .tableClass{
        
    }

}

@media (max-width:370px){
    .colDflex{
        display: block !important;
        margin: auto !important;
    }

    .col4PreniumClass2{
        margin-top: 1rem !important;
    }
}