.td1{
    width: 50% !important;
}

.td2{
    width: 30% !important;
}

.td3{
    width: 80% !important;
}

.td21{
    width: 100% !important;
}

.btnRetour{
    padding-left: 20%;
}

.btnRetour a{
    text-decoration: none !important;
    color: red !important;
}

@media (max-width: 1000px){
    .col6Img{
        width: auto !important;
    }
    .colP{
        width: 80% !important;
        margin: auto !important;
    }
    .col4Prenium{
        width: auto !important;
    }
}

@media (max-width: 680px){
    .col6Img{
        width: auto !important;
    }
    .colP{
        width: 90% !important;
        margin: auto !important;
    }

    .col4Prenium{
        width: auto !important;
    }
}

@media (max-width: 380px){
    
    .col4Prenium{
        width: auto !important;
        align-items: center !important;
    }

    .col6Img{
        width: 100% !important;
    }

    .colDflex{
        display: block !important;
        text-align: center !important;
        width: auto !important;
    }
}