* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
}

.link {
    display: flex;
    gap: 10px;
    padding: 10px 10px;
}

.link:hover {
    color: rgb(214, 211, 211);
    transition: 0.4s;
    cursor: pointer;
}

.text-item{
    white-space: nowrap;
}

.logo {
    font-size: 25px;
    line-height: 0;
    cursor: pointer !important;
    margin-top: 10px;
    color: #fff;
}

.MuiStepIcon-root.MuiStepIcon-active {
    color: red !important;
}

.MuiStepIcon-root.MuiStepIcon-completed {
    color: red !important;
}

.btn-back {
    background-color: red !important;
    color: #fff !important;
    border-radius: 5px;
    padding: 5px;
    border: none !important;
    height: 38px;
    box-shadow: 1px 1px 3px #cac1c1;
}

.btn-confirm {
    background-color: #111b21 !important;
    color: #fff !important;
    border-radius: 5px;
    border: none !important;
    padding: 5px;
}

.formB{
    margin-bottom : 20px !important;
}

.btn-back:hover {
    color: #fff !important;
    opacity: 0.78;
}

.btn-confirm:hover {
    color: #fff !important;
    opacity: 0.88;
}

video {
    margin-top: 10px;
    width: 100%;
    max-width: 100%;
    height: 30vh;
}


.btn {
    position: absolute !important;
    left: 35% !important;
    top: 80% !important;
}

.imgCapturee {
    display: block !important;
    margin-left: auto;
    margin-right: auto !important;
    width: 50%;
    height: 45vh;
    margin-top: 10px;
    border-radius: 7px;
}

.sexeObligatoire {
    color: rgba(0, 0, 0, 0.54);
    margin-left: 12px;
    font-size: 0.75rem;
    margin-top: -20px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.66;
    letter-spacing: 0.03333em;
}

.checkSexe{
    color: rgba(0, 0, 0, 0.54);
    margin-left: 12px;
    font-size: 0.75rem;
    margin-top: -50px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.66;
    letter-spacing: 0.03333em;
}

.sexeOdbligatoireJust {
    margin-top: 4px;
    font-size: 0.75rem;
    text-align: justify;
    padding: 0 12px;
    color: rgba(0, 0, 0, 0.54);
}

.container-princial{
    width: auto !important;
    margin: auto 16% !important;
}

.sexeOdbligatoire {
    color: rgba(0, 0, 0, 0.54);
    margin-left: 12px;
    margin-top: 4px;
    font-size: 0.75rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.66;
    letter-spacing: 0.03333em;
}

.sexeObligatoireImage {
    color: rgba(0, 0, 0, 0.54);
    margin-left: 12px;
    margin-top: 4px;
    font-size: 0.75rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.66;
    letter-spacing: 0.03333em;
}

.btnCamera {
    height: 7.6vh !important;
}

.cardForm0{
    height: auto !important;
    width: 100% !important;
    padding: 25px !important;
    box-shadow: 2px 2px 7px silver !important;
    cursor: pointer;
    border: 1px solid #ccc !important;
}

.numberPrenium{
    font-size: 16px !important;
    margin-top: 15px !important;
    font-weight: none !important;
}

.btnCarteStandard{
    background-color: red !important;
    color: #fff !important;
    width: 100%;
    margin-top: 0px !important;
}

.textInterne{
    margin-left: 5px !important;
    margin-bottom: 10px !important;
}

.checkIcon{
    font-weight: bold !important;
    font-size: 18px !important;
    margin-top: 5px !important;
}

.choixCarte{
    padding: 10px !important;
    background-color: red !important;
    color: #fff;
}

.bodyCard1{
    height: auto;
    margin-bottom: 13.4rem
}

.bodyCard2{
    height: auto;
    margin-bottom: 45px;
}

.textStandard{
    margin-top: 45px !important;
}

.textStandard li{
    margin-top: 4px !important;
}

.imageCardStandard{
    width: 100% !important;
    border-radius: 5px !important;
    box-shadow: 2px 2px 8px silver;
    max-width: 103px;
    min-height: auto !important;
    position: relative;
    align-self: flex-start;
}

.textBtn{
    text-transform: lowercase !important;
}

.standH3{
    margin-top: -8px !important;
    margin-bottom: -1px !important;
}

.offre18ans{
    border-radius: 7px;
    width: 100% !important;
    height: auto !important;
    background-color: #e6eef9;
    padding: 10px !important;
    font-size: 13px !important;
    margin-left: auto !important;
}

.carteStandardText{
    margin-left: 10px !important;
}

.linkAvantages{
    text-decoration: none !important;
    color: red !important;
}

@media(max-width:1205px) {
    .sidebar {
        width: 50px !important;
    }
    .name, #name{
        display: none !important;
    }
    .logo{
        display: none !important;
    }
}

@media(max-width: 1050px){
    .form1.row, .form2 .row, .form3, .form41{
        display: block !important;
    }
    .form1 .colonne6, .form2 .col-6, .form41 .col-6{
        width: 100% !important;
    }

    .form1 .colonne62{
        width: 100% !important;
    }

    .formB .MuiButton-root{
        margin: 12px 5px 0 0 !important;
    }
}

@media (max-width: 600px){
    .btn-confirm{
        margin-bottom: 20px !important;
        width: 100% !important;
        margin-right: 0px !important;
    }

    .btn-back{
        width: 100% !important;
    }

    .imgCapturee {
        width: 100% !important;
    }
}




