.MuiStepIcon-root.MuiStepIcon-active {
    color: red !important;
}

.MuiStepIcon-root.MuiStepIcon-completed {
    color: red !important;
}

.btn-back {
    background-color: red !important;
    color: #fff !important;
    border-radius: 5px;
    padding: 5px;
    border: none !important;
    height: 38px;
    box-shadow: 1px 1px 3px #cac1c1;
}

.btn-confirm {
    background-color: #333 !important;
    color: #fff !important;
    border-radius: 5px;
    border: none !important;
    padding: 5px;
    box-shadow: 1px 1px 3px #cac1c1;
}

.btn-back:hover {
    color: #fff !important;
    opacity: 0.78;
}

.btn-confirm:hover {
    color: #fff !important;
    opacity: 0.88;
}

video {
    margin-top: 10px;
    width: 100%;
    max-width: 100%;
    height: 30vh;
}

.btn {
    position: absolute !important;
    left: 35% !important;
    top: 80% !important;
}

.imgCapturee {
    border: 2px solid #efefef !important;
    display: block !important;
    margin-left: auto;
    margin-right: auto !important;
    width: 50%;
    height: 45vh;
    margin-top: 10px;
    border-radius: 7px;
}

.sexeObligatoire {
    color: rgba(0, 0, 0, 0.54);
    margin-left: 12px;
    font-size: 0.75rem;
    margin-top: -20px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.66;
    letter-spacing: 0.03333em;
}

.sexeObligatoireImage {
    color: rgba(0, 0, 0, 0.54);
    margin-left: 12px;
    margin-top: 4px;
    font-size: 0.75rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.66;
    letter-spacing: 0.03333em;
}

.btnCamera {
    height: 7.6vh !important;
}